*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body,.App,.root{
    background-image: linear-gradient(to right,#7396FF,#E773FF);
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    color:var(--primcolorText);
    /* height: 100vh; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    
    /* --primcolorAbtn:#7396FF;
    --primcolorB:#E773FF;
    --primcolorText:white;
    --primcolorFream:white; */
}
.App{
    --primcolorA:#7396FF;
    --primcolorAbtn:#7396FF;
    --primcolorB:#E773FF;
    --primcolorText:white;
    --primcolorFream:white;
    --primcolorAbtnlite:#7396ffb6;
    --primebasecik:#17191a;
    --darkmodbtn:#35409e;
    
    /* opacity: 0%; */
}
.bodyDark{
    --primcolorA:rgb(0, 32, 128);
    --primcolorAbtn:#4178bb;
    --primcolorB:rgb(106, 0, 128);
    --primcolorText:rgb(162, 167, 189);
    --primcolorFream:#17191a;
    --primcolorAbtnlite:#4178bbb4;
    --darkmodbtn:#8facbb;
    --primebasecik:rgb(232, 231, 233);
    background-image: linear-gradient(to right,var(--primcolorA),var(--primcolorB));
}


.darkmodebtn{
    background-color:var(--darkmodbtn) ;
    color:var(--primcolorFream);
    cursor: pointer;
    
    padding: 5px;
    border-radius: 100%;
    
    align-items: center;
    justify-content: center;
    margin: 8px;
    margin-right: 15px;
    align-self: flex-end;
    justify-self: top;

    display: flex;
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;
    font-size: 3rem;
}


header h1{
    font-size: 4rem;
}
.top{
    display: flex;
    justify-content: space-between;
}

.weatherd,.timetab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    text-align: center;

}

.weatherd h1,.weatherd p{
    margin-top: 2%;
    margin-right: 20px;
}
.timetab h1,.timetab p{
    margin-top: 2%;
    margin-left: 20px;
}
.weatherd h1,.timetab h1{
    font-size: 3rem;
}
.weatherd p,.timetab p{
    text-align: center;
    margin-top: 0;
}
.timetab{
    align-self: flex-start;
}


header,.inputtabe,form{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 0;

}
header{
    flex-direction: column;
}
.inputbox{
    background-color: var(--primcolorFream);
    color: var(--primcolorAbtn);
}
::placeholder{
    opacity: .8;
    color: var(--primebasecik);
}


.weather{
    display: none;
}
.filtercont{
    display: flex;
    justify-content: center;
}
.inputbox,.addtask,.filter{
    font-size: 1.3rem;
    border : 0;
    padding: 10px;
}

.filter{
    margin-left:10px;
}

.addtask,.filter{
    background-color:  var(--primcolorFream);
    color:var(--primcolorAbtn);
    cursor: pointer;
    transition: hover 0.3s ease;
}

.addtask:hover,.filter:hover{
    background-color: var(--primcolorAbtn);
    color:var(--primcolorFream);
}
.filter{
    border-radius: 1.5rem 0 0 1.5rem;
}
.trashall{
    margin-left:0;
    border-radius: 0 1.5rem 1.5rem 0;
    padding: 10.2px;
}

.tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}


.taskcont{
    
    display: flex;
    align-items: center;
    justify-content:space-between;
    min-width: 35%;
    margin: .2rem;
    background-color: var(--primcolorFream);
    min-width: 30%;
    max-width: 80%;
}


@media screen and (max-width:850px) {
    .taskcont{
        min-width: 50%;
    }
    
    .weatherd{
        display: none;
    }
    .timetab{
        display: none;
    }
    header{
        margin-top:0;
        flex-direction: column;
    }
    .weather{
        display: block;
    }
    .darkmodebtn{
        position: static;
        height: 35px;
        width: 35px;
        font-size: 1.5rem;
    }
    
}
@media screen and (max-width:500px) {
    .taskcont{
        min-width: 65%;
    }
    .filter{
        margin: 5px 0;
    }
    header{
        margin-top:0;
        flex-direction: column;
    }
    .weather{
        display: block;
    }
    .weatherd{
        display: none;
    }
    .timetab{
        display: none;
    }
    .trashall{
        padding: 10.5px;
    }
   
    
    
}

.tasklable,.taskcheak,.tasktrash{
    padding: 3.5px 8px;
    font-size: 1.2rem;
    border: 0;
}

.taskcheak,.tasktrash{
    background-color:var(--primcolorFream);
    color:var(--primcolorAbtn) ;
    cursor: pointer;
}
.tasktrash{
    margin-right: 5px;
}
.taskcheak:hover,.tasktrash:hover{
    background-color:var(--primcolorAbtn);
    color: var(--primcolorFream);
}

.tasklable{
    list-style: none;
    color:var(--primcolorAbtn);
    flex-grow: 1;
    padding-left: 0 10px;
    white-space: nowrap;
    overflow: scroll;
    max-width: 80%;
    scroll-behavior: auto;
    height: auto;
    margin-left: 8px;
}

::-webkit-scrollbar{
    display: none;
}

i{
    pointer-events: none;
}

.cheaked {
    text-decoration: line-through;
    opacity: 0.7;
}
.cheaked li{
    color: var(--primcolorB);
}
.taskcont{
    min-height: 1rem;
    
}
.deleted{
    transition:  .3s ease-in-out;
    min-height: 0;
    height: 0;
    opacity: 0;
}

.inputbox{
    border-radius: 1.5rem 0 0 1.5rem;
}

.addtask,.tasktrash{
    border-radius: 0 1.5rem 1.5rem 0;
}

.taskcont{
    border-radius: 1.5rem;
}

footer{
    display: flex;
    align-items: flex-end;
    justify-self: flex-end;
    flex-grow: 1;
}
footer p{
    margin: 5px;
}
.tasklable{
    display: flex;
    align-items: center;
}
.circlenum{
    background-color:var(--primcolorAbtnlite);
    color: var(--primcolorFream);
    text-align: center;
    font-size: 1rem;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
}
.dnone{
    display: none;
}

.draghand{
    color: var(--primcolorAbtn);
    padding-left: 5px;
    cursor: move;
}
.draghand:hover{
    opacity: 50%;
}
.quotes{
    text-align: center;
    font-family: 'PT Mono', monospace;
    
    font-style: italic;
    font-size: .8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

    max-width: 98%;

    
}

.openproject{
    border-radius: 0;
}

.cleckable{
    cursor: pointer;
}

